.section {
	background: #e0fbfc;
	padding: 5vh 3vw;
}
.feautures {
	background: #e0fbfc;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}
.section_title {
	font-family: "Amatic SC", cursive;
	font-size: 5rem;
	margin-bottom: 1em;
	width: 100%;
	text-align: center;
}
