.features {
	background: #e0fbfc;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 5vh 3vw;
}
.feature_title {
	font-family: "Amatic SC", cursive;
	font-size: 3em;
	margin-bottom: 0.5em;
}
.feature {
	width: 27vw;
	min-width: 310px;
	text-align: center;
	margin-bottom: 2em;
	padding: 1vw;
}
.feature_description {
}
