.section {
	background: #98c1d9;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 5vh 3vw;
}
.section_title {
	font-family: "Amatic SC", cursive;
	font-size: 5em;
	margin-bottom: 1em;
	width: 100%;
	text-align: center;
}

.members {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.member {
	width: calc(33% - 4vw);
	padding: 0.5em 2vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	min-width: 310px;
}
