.team_member_box {
	width: calc(33% - 4vw);
	padding: 0.5em 2vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	min-width: 310px;
}
.team_face {
	margin-bottom: 3em;
	width: 100%;
}
.team_member_name {
	font-family: "Amatic SC", cursive;
	font-size: 3em;
	margin-bottom: 0.3em;
	width: 100%;
	text-align: center;
}
.team_member_job {
	font-family: "Amatic SC", cursive;
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 0.3em;
	width: 100%;
	text-align: center;
}
.team_member_bio {
	font-family: "Amatic SC", cursive;
	font-size: 2em;
	width: 100%;
	text-align: center;
}
