.register_modal {
	display: block;
	background-color: blue;
	width: 50vw;
	height: 50vh;
}
.register {
	width: 3em;
	background-color: #ee6c4d;
	text-align: center;
	padding: 0.5em;
	border-radius: 3px;
	font-family: "Amatic SC", cursive;
	color: #293241;
	transition: all 0.3s cubic-bezier(0.66, 0.06, 0.4, 0.65);
	font-size: 2em;
	display: inline-block;
	vertical-align: middle;
}
.register_button {
	display: flex;
	justify-content: center;
	align-items: center;
}
